.humanNameInputStyle {
  flex: 1;
}

.paperStyle {
  position: absolute;
  z-index: 1;
  width: 150px;
  top: 100%;
  left: 0;
}

.humanNamesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.preferredNameStyle {
  font-weight: bold;
}

.rowStyle {
  display: flex;
  align-items: center;
  margin-bottom: 2px;
}

.textStyle,
.preferredNameStyle {
  flex: 0 0 auto;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}